
\.vscode/

nuget/Claros\.Interfaces\.ProtocolBuffers/\.vs/

nuget/Claros\.Interfaces\.ProtocolBuffers/obj/

*.user

nuget/Claros\.Interfaces\.ProtocolBuffers/bin/

demo/aspnetcore/WebApplication1/\.vs/

demo/aspnetcore/WebApplication1/obj/
